/* General Style */
* {
    text-transform: capitalize;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f5;
    color: #333;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 3rem;
    color: #3c88d2;
    letter-spacing: 2px;
    font-weight: 600;
    /* font-family: ; */
}

h2 {
    font-size: 2rem;
    color: #3a3a3a;
    margin-bottom: 20px;
    text-transform: uppercase;
}

p, ul {
    font-size: 1rem;
    line-height: 1.7;
    color: #555;
}

/* Section Styling */
.section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.section img {
    padding: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 12px;
}

.grid, .grid-6 {
    display: grid;
    gap: 15px;
}

.grid {
    grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(4, 1fr);
}


figure {
    position: relative;
    margin: 0;
    overflow: hidden; 
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

figcaption h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

figcaption p {
    font-size: 1rem;
    color: #ddd;
}


.grid img, 
.grid-6 img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.grid figure:hover img, 
.grid-6 figure:hover img {
    transform: scale(1.1); /
}

.grid figure:hover figcaption, 
.grid-6 figure:hover figcaption {
    opacity: 1; 
    transform: translateY(0); 
}

/* Button Style */
.btn {
    display: inline-block;
    background-color: #3c88d2;
    color: #fff;
    padding: 12px 30px;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #2873a3;
    transform: translateY(-3px);
}

/* Responsive Style */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-6 {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .section {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid-6 {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .section {
        padding: 15px;
    }
}
